/*.formInfo{
	margin-bottom: 50px;
	margin-top: 50px;
}
*/
.display-field{
	margin-top: 40px;
}

.expenses {
  width: 500px;
  min-height: 100px;
}

.total {
	margin-top: 20px;
}

.deleted-display{
	display: none;
}

.title{
/*	font-style:;*/
}

.title{
	/*background-color:#e9f7e1;*/
	background-color: #f9e0e0;
	padding: 20px;
	/*color:white;*/
	
}

.display-field{
	background-color: #dee2e2;
	font-size:22px;

}

.total {
	font-size: 18px;
}

body {
	background-color: #ededed;
}

